# Dependencies
node_modules/
.venv/
__pycache__/

# Environment & Secrets
.env
.env.local
*.pem
*.key
*.keystore
production/.env_real

# System
.DS_Store
Thumbs.db

# Build Artifacts
dist/
build/
coverage/
*.tar.gz

# Misc
samples/
docs/  <-- Uncommented because docs are useful documentation to keep in repo!
.vscode/
.idea/